// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
.#{$prefix}-chromv {
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	height: var(--bld-us);
	overflow: hidden;
	position: relative;
	column-gap: 1px;
	align-items: center;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_text {
		color: var(--in-fg);

		bottom: 2px;
		font-size: 0.9em;
		line-height: 0.9;
		opacity: 0.5;
		position: absolute;
		right: 2px;
	}

	&_col {
		height: 80%;
	}
}
